footer {
 height: 40vh;
 background-color: #24345A;

 @include md-block() {
  height: 70vh;
 }

 @include xs-block() {
  height: 74vh;
 }

 .wrapper {
  @include wp();
  padding-top: 3rem;

  .items {
   display: flex;
   justify-content: space-between;
   color: azure;

   @include md-block() {
    flex-direction: column;
   }

   .item {
    @include size(8);
    @include size-md(24);
    margin: 1rem;
    text-align: center;

    p,
    a {
     font-size: 20px;
     color: aliceblue;
    }

    i {
     margin: 1rem;
    }



    a:hover {
     color: aquamarine;
    }

    img {
     height: 40px;
    }
   }

   .item:nth-child(1) {
    margin-top: 5rem;
   }

   .item:nth-child(2) {
    margin-top: 5rem;
   }
  }
 }

}