@import 'smart-grid';
@import 'materialize';
@import './var/var';
@import './button/button.scss';
@import './effects/effects';
@import './footer/footer';
@import './header/header';
@import './section/section';


* {
 @include reset();
 font-family: 'Gilroy';
 font-weight: normal;
 font-style: normal;
}