.main-header {
 height: 100vh;
 background-color: #24345A;

 @include xs-block() {
  height: 130vh;
 }

 .navbar {
  background-color: #fefefe;

  span {
   width: 20px;
   margin: 0 auto;
  }
 }



 .header {

  &__items-middle {
   @include wp();
   display: flex;
   justify-content: space-between;
   padding-top: 5rem;

   @include md-block {
    flex-direction: column;
    margin-top: 13rem;
   }

   img {
    width: 800px;
   }

   .digita-partner {
    @include md-block {
     margin-bottom: 2rem;

     .h1-text {
      margin-top: -5rem;
     }
    }

    color: #fff;

    .h1-text {
     margin-top: 6rem;
     font-size: 45px;
     margin-bottom: 1.5rem;

     span {
      font-weight: bold;
     }
    }

    .h4-text {
     font-size: 25px;
     margin-bottom: 1.5rem;
    }

    .p {
     font-size: 18px;
    }
   }

   .vector {
    @include size(12);
    @include size-md(24);

   }


  }

  &__vector {
   @include size(14);
   @include size-md(24);
   margin-left: -5rem;
  }
 }
}



.second-header {

 .navbar {
  background-color: #fefefe;

  .container {
   margin-top: -0.5rem;
  }

  span {
   background-color: #000;
   margin: 0 auto;
  }
 }
}