.first-section {
 .wrapper {

  .head__text {
   text-align: center;
   font-size: 45px;
   margin-top: 4rem;
   font-weight: 600;

   @include md-block() {
    font-size: 35px;
   }
  }

  .items {
   @include wp();

   display: flex;
   justify-content: space-around;
   margin-top: 3rem;
   margin-bottom: 3rem;

   @include md-block() {
    @include size(12);
    @include size-md(24);
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
   }


   .item {
    margin: 3rem;
    text-align: center;



    .small-head {
     font-size: 25px;
     font-weight: bold;
     margin: 1rem;

     @include md-block() {
      font-size: 20px;
     }
    }

    .p-text {
     font-size: 15px;
     font-weight: 550;
     margin-top: 1rem;
    }

    img {
     height: 250px;
    }


   }
  }

  &__premium {
   @include wp();

   .items {
    display: flex;
    justify-content: space-around;

    .item:nth-child(1) {
     @include size(12);
     @include size-md(24);
     margin-top: 5rem;
     text-align: left;
     margin-left: 15px;

     .premium {
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 0.6rem;
      margin-bottom: 1rem;
     }

     .p-text {
      font-size: 20px;
      font-weight: 400;
     }

    }

    .item::nth-child(2) {
     @include size(12);

     @include size-md(24);
    }
   }


  }

  &__icons {
   @include wp();

   .items-icons {
    display: flex;
    justify-content: space-around;

    @include md-block() {
     flex-wrap: wrap;
     text-align: center;
    }

    .items {
     flex-direction: column;
    }

    .item {
     @include size(6);
     @include size-md(20);
     margin-top: 3rem;

     .head-text {
      margin-top: 1rem;
      margin-bottom: 1rem;
     }
    }
   }
  }

  &__location {
   border: 0;
   margin-top: 10rem;
  }



 }
}

.second-section {
 .wrapper {
  &-ads {
   background-color: RGBA(35, 50, 80, .76);
   padding: 5rem;

   .items {
    @include wp();

    display: flex;
    justify-content: space-between;
    // padding-top: 3rem;

    @include md-block() {
     flex-direction: column;
     margin: 0 auto;
     text-align: center;
    }

    .item:nth-child(1) {
     @include size(16);
     @include size-md(24);

     .main {
      font-size: 45px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.2rem;
      color: #ffffff;
     }

     .small {
      font-size: 20px;
      color: RGBA(225, 225, 225, .76);
     }
    }

    .item:nth-child(2) {
     @include size(8);
     @include size-md(24);

     img:nth-child(1) {
      height: 90px;

      @include md-block() {
       height: 60px;

      }
     }

     img:nth-child(2) {

      @include md-block() {
       height: 60px;
      }
     }

     img:nth-child(2) {
      height: 150px;

      @include md-block() {
       height: 120px;
      }
     }
    }

   }
  }

  &-info {
   background: RGBA(36, 52, 90, .11);

   .items {
    @include wp();
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;

    @include md-block() {
     flex-direction: column;
     justify-content: center;
    }

    .item {
     @include size(6);
     @include size-md(16);

     @include md-block() {
      margin: 0 auto;
     }

     img {
      margin-bottom: 1rem;
     }

     .main {
      font-weight: bold;
      font-size: 20px;
     }

     .small {
      font-size: 15px;
      font-weight: 100;
     }
    }
   }
  }

  &-drop {
   background: RGBA(218, 219, 226, 100);

   .items {
    @include wp();
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;


    @include md-block() {
     flex-direction: column;
    }

    .item {
     @include size(10);
     @include size-md(24);
     margin: 0 auto;

     .btn {
      border: 0px solid #000;
      box-shadow: 0;
      height: 50px;
     }
    }
   }

  }

  &-experience {
   text-align: center;
   background-color: #56627F;
   padding: 5rem;

   .first-text {
    @include size(18);
    font-size: 49px;
    margin: 0 auto;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 1px 1px 5px #fefe;
   }

   .second-text {
    @include size(12);
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
   }
  }
 }
}